body,div,h1,a,ul,li,p {
font: 62.5%/160% "Microsoft JhengHei","Hiragino Sans GB","微軟正黑體","Microsoft YaHei","微软雅黑",Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
margin:0;
padding:0;
}

a {
text-decoration:none;
}

ul,ol {
list-style:none;
}


::-webkit-scrollbar-track-piece{background-color:#fafafa;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:8px 8px;border-bottom-left-radius:8px 8px;}
::-webkit-scrollbar{width:7px;height:7px;}
::-webkit-scrollbar-button:start:decrement,.school-list ::-webkit-scrollbar-button:end:increment{
display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(0,0,0,0.4);-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:rgba(0,0,0,0.4);-webkit-border-radius:8px;}

.clear:after {
clear:both;
content:"";
display:block;
}

body {
background-image:url(i/bg-main.png);
}

.hd {
background:#fff url(i/bg-hd.png);
color:#333;
font-size:12px;
padding:5px;
text-shadow:0 -1px 0 #fff;
}

.hd .logo {
float:left;
margin-left:5px;
}

.hd .user {
float:right;
margin-right:15px;
}

.hd .user .name {
margin-right:5px;
}

.btn{
display: inline-block;
height: 22px;
border-radius: 11px;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
-ms-border-radius: 11px;
border-width: 1px;
border-style: solid;
text-decoration: none;
font-size: 12px;
color: black;
text-shadow: 0 1px 0 rgba(255,255,255,0.09);
-webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.09);
-moz-text-shadow: 0 1px 0 rgba(255,255,255,0.09);
-ms-text-shadow: 0 1px 0 rgba(255,255,255,0.09);
margin-right: 10px;
text-align: center;
width: 50px;
padding: 3px;
}

.btn.cancel{
border-color: #9A9A9A;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #EBEBEB), color-stop(0.5, #ECECEC), color-stop(0.5, #F3F3F3), color-stop(1, white) );
background-image: -moz-gradient( linear, left bottom, left top, color-stop(0, #EBEBEB), color-stop(0.5, #ECECEC), color-stop(0.5, #F3F3F3), color-stop(1, white) );
background-image: -ms-gradient( linear, left bottom, left top, color-stop(0, #EBEBEB), color-stop(0.5, #ECECEC), color-stop(0.5, #F3F3F3), color-stop(1, white) );
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
}

.btn.ok{
border-top-color: #5A5CAF;
border-bottom-color: #52536F;
border-left-color: #56578F;
border-right-color: #56578F;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
background-image: -moz-gradient( linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
background-image: -ms-gradient( linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
}

.widget-manager {
background-color:#fff;
border-radius:10px;
left:50px;
position:absolute;
top:50px;
}

.widget-manager .widgets {
overflow:auto;
z-index: 5;
position: absolute;
top: 0;
background: #fff;
width: 250px;
border-radius: 5px;
padding-bottom: 30px;
}

.widget-manager .list {
max-height:300px;
overflow:auto;
}

.widget-manager .list:hover {
overflow:auto;
}


.widget-manager .editpannel{
position: absolute;
top:0;
left:10px;
width: 240px;
background: #ccc;
border-radius: 0 5px 5px 0;
background: url(i/cloth.png);
-webkit-transition: left .25s linear;
-moz-transition: left .25s linear;
-ms-transition: left .25s linear;
}


.widget-manager .editpannel .iconpannel{
position: absolute;
opacity: 0;
top: 0;
left: 60px;
-webkit-transition: all .25s ease-in-out;
-moz-transform: all .25s ease-in-out;
-ms-transform: all .25s ease-in-out;
}

.widget-manager .editpannel .iconpannel_inner{
overflow: hidden;
width: 0;
height: 0;
-webkit-transition: all .25s ease-in-out;
-moz-transform: all .25s ease-in-out;
-ms-transform: all .25s ease-in-out;
background-color: white;
}

.widget-manager .editpannel .icon_list{
width:200px;
height:200px;
}

.widget-manager .editpannel .iconpannel:after{
display: block;
content: '';
top: 15px;
left: -20px;
border-style: solid;
border-width: 10px;
border-color: transparent white transparent transparent;
position: absolute;
}

.widget-manager .editpannel .iconpannel img{
float:left;
margin:10px;
width:30px;
height:30px;
}


.widget-manager .editpannel .icon{
position: relative;
margin:10px auto;
width:50px;
height:50px;
background-color: #fff;
}

.widget-manager .editpannel .imgholder{
position: absolute;
width: 50px;
height: 50px;
}

.widget-manager .editpannel .imgholder img{
width: 50px;
height: 50px;
}


.widget-manager .editpannel .iconhint{
position: absolute;
background: rgba(0, 0, 0, 0.5);
width: 40px;
height: 40px;
color: white;
padding: 5px;
font-size: 13px;
}

.widget-manager .editpannel .settings{
    margin-left: 20px;
}

.widget-manager .editpannel .setting-row{
margin-bottom: 4px;
}

.widget-manager .editpannel .setting-name{
color: white;
display: inline-block;
font-weight: 700;
text-shadow: 0 1px 0 black;
width: 75px;
font-size: 14px;
}

.widget-manager .editpannel .setting-field{
border: 0;
border-radius: 5px;
padding: 5px;
width: 125px;
}


.widget-manager .widgets .title {
cursor:default;
padding:8px;
text-align:center;
}

.widget-manager .widgets .title .create{
background: url('i/plus.png') no-repeat center center;
text-indent: -999px;
}

.widget-manager .list li {
line-height:34px;
padding: 0 10px;
}

.widget-manager .list .order {
background-color:#f5f5f5;
}

.widget-manager .list .even {
background-color:#fafafa;
}

.widget-manager .list .checkbox {
float:left;
line-height: 24px;
margin: 18px 0;
background-color: transparent;
}

.widget-manager .list .icon {
float:left;
height:34px;
margin-left:10px;
width:34px;
padding: 8px 0;
}

.widget-manager .list .title {
float:left;
margin-left:5px;
}

.widget-manager .list .edit{
background: url('i/pencil.png') no-repeat center center;
float: right;
line-height: 34px;
padding: 8px 0;
text-indent: -999px;
}

.widget-manager .close {
-webkit-transform:rotate(-135deg);
-moz-transform:rotate(-135deg);
-ms-transform:rotate(-135deg);
background-image:url(i/add.png);
height:34px;
left:-17px;
position:absolute;
top:-17px;
width:34px;
z-index: 15;
}

.wrap {
overflow:hidden;
position:relative;
}

.wrap .main {
height:100%;
position:relative;
}

.wrap .desktop-btns {
-webkit-transition:opacity .75s ease;
-moz-transition:opacity .75s ease;
-ms-transition:opacity .75s ease;
height:34px;
opacity:0;
position:absolute;
width:34px;
}

.wrap .desktop-btn-left {
background-image:url(i/left.png);
}

.wrap .desktop-btn-right {
background-image:url(i/right.png);
}

.wrap .desktop-btn-add {
background-image:url(i/add.png);
}

.wrap .desktop-btn-remove {
background-image:url(i/remove.png);
}

.wrap .desktop-spots {
margin:0 auto;
position:absolute;
}

.wrap .desktop-spots .desktop-spot {
background-color:#666;
border:1px solid #444;
border-radius:8px;
float:left;
height:14px;
margin-right:8px;
opacity:0.75;
width:14px;
}

.wrap .desktop-spots .current {
background-color:#fff;
border:1px solid #CCC;
}

.wrap .desktop-list {
-webkit-transition:all .75s ease;
-moz-transition:all .75s ease;
-ms-transition:all .75s ease;
height:100%;
position:absolute;
}

.wrap .desktop-list .desktop {
float:left;
height:100%;
overflow:hidden;
position:relative;
}

.toolbox .toggle {
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);

-webkit-transition:all .75s ease;
-moz-transition:all .75s ease;
-ms-transition:all .75s ease;

background-image:url(i/add.png);
height:34px;
left:10px;
opacity:.75;
position:absolute;
top:-44px;
width:34px;
}

.toolbox .manage {
-webkit-transition:all .75s ease;
-moz-transition:all .75s ease;
-ms-transition:all .75s ease;
background:rgba(0,0,0,0.6);
border:2px solid #FFF;
border-radius:17px;
color:#FFF;
cursor:default;
height:20px;
left:60px;
line-height:20px;
opacity:0;
padding:5px 13px;
position:absolute;
text-align:center;
top:-44px;
}

.toolbox {
-webkit-transition:all .75s ease;
-moz-transition:all .75s ease;
-ms-transition:all .75s ease;
background-image:url(i/bg-bottom.png);
bottom:-118px;
height:118px;
position:absolute;
width:100%;
}

.toolbox .pannel {
background-image:url(i/bg-bottom-spot.png);
height:96px;
margin:9px 0 15px;
}

.toolbox .inner {
height:110px;
margin:0 36px;
overflow:hidden;
position:relative;
}

.toolbox .inner .tools {
-webkit-transition:all .75s ease;
-moz-transition:all .75s ease;
-ms-transition:all .75s ease;
left:-144px;
padding-top:10px;
position:absolute;
}

.toolbox .inner .item {
border-radius:8px;
float:left;
margin-right:35px;
padding:2px;
}

.toolbox .inner .item img {
height:70px;
width:70px;
}

.toolbox .inner .item .title {
color:#444;
font-family:Arial;
font-size:12px;
font-weight:700;
margin-top: 5px;
text-align:center;
text-shadow:0 1px 0 #eee;
}

.toolbox.active {
bottom:0;
}

.toolbox.active .toggle {
-webkit-transform:rotate(-135deg);
-moz-transform:rotate(-135deg);
-ms-transform:rotate(-135deg);
}

.toolbox.active .manage {
opacity:1;
}

.toolbox.active .inner .tools {
left:0;
}

.monitor {
-webkit-perspective:500;
-moz-perspective:500px;
-webkit-transition:opacity .65s ease;
-moz-transition:opacity .65s ease;
-ms-transition:opacity .65s ease;
box-shadow:0 0 6px #333;
position:absolute;
}

.monitor .card {
position:absolute;
-webkit-perspective:500;
-moz-perspective:500px;
-webkit-transition:all .75s;
-moz-transition:all .75s;
-ms-transition:all .75s;
}

.monitor .fface {
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;

-webkit-transform:rotateY(0deg);
-moz-transform:rotateY(0deg);
-ms-transform:rotateY(0deg);

-webkit-transition:all .75s;
-moz-transition:all .75s;
-ms-transition:all .75s;

background:#fff;
border-radius:5px;
box-shadow:3px 3px 6px rgba(0,0,0,0.6);
overflow:hidden;
}

.monitor .fface .titlebar {
cursor:default;
padding:5px;
text-align:center;
}

.monitor .bface {
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;

-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-ms-transform:rotateY(180deg);

-webkit-transition:all .75s;
-moz-transition:all .75s;
-ms-transition:all .75s;

background:#fff url(i/cloth.png);
border-radius:5px;
box-shadow:3px 3px 6px rgba(0,0,0,0.6);
position:absolute;
top:0;
}

.monitor .fface .chart-inner {
margin:0 15px 15px 5px;
}

.monitor .bface .binner {
margin: 26px 0 24px 20px;
}

.monitor .bface .setting-row {
margin-bottom:10px;
}

.monitor .bface .setting-name {
color:#fff;
display:inline-block;
font-weight:700;
text-shadow:0 1px 0 #000;
width:75px;
font-size: 14px;
}

.monitor .bface .setting-field {
border:0;
border-radius:5px;
padding:5px;
}

.monitor .bface .setting-unit {
color:#fff;
margin-left:5px;
text-shadow:0 1px 0 #000;
}


.monitor .close {
background-image:url(i/remove.png);
color:#eff;
display:none;
height:34px;
left:-17px;
position:absolute;
top:-17px;
width:34px;
z-index:5;
}

.active .monitor .close {
display:block;
}

.monitor .set .fface {
-webkit-transform:rotateY(-180deg);
-moz-transform:rotateY(-180deg);
-ms-transform:rotateY(-180deg);
visibility:hidden;
}

.monitor .set .bface {
-webkit-transform:rotateY(0deg);
-moz-transform:rotateY(0deg);
-ms-transform:rotateY(0deg);
}

.monitor .setting {
background-image:url(i/setting.png);
background-repeat:no-repeat;
bottom:0;
height:16px;
position:absolute;
right:15px;
width:16px;
}

.monitor .yui3-resize-handle-tr,.monitor .yui3-resize-handle-tl,.monitor .yui3-resize-handle-bl,.monitor .yui3-resize-handle-b,.monitor .yui3-resize-handle-t,.monitor .yui3-resize-handle-l,.monitor .yui3-resize-handle-r {
display:none;
}

.yui3-skin-sam .yui3-calendar-day, .yui3-skin-sam .yui3-calendar-prevmonth-day, .yui3-skin-sam .yui3-calendar-nextmonth-day{
font-size:12px;padding:0;
}

.yui3-skin-sam .yui3-calendar-weekday {
font-size: 12px;
}

.monitor .set .fface .chart,.monitor .set .fface .setting {

}