body,div,h1,a,ul,li,p{padding:0;margin:0;}
a{text-decoration:none;}
ul,ol{list-style:none;}
.clear:after{content:"";clear:both;display:block;}


body{background-image:url('i/bg-main.png');}

.hd{padding:5px;background:#fff url('i/bg-hd.png');color:#333;text-shadow:0 -1px 0 #fff;font-size:12px;}
.hd .logo{float:left;margin-left:5px;}
.hd .user{float:right;margin-right:15px;}
.hd .user .name{margin-right:5px;}



.wrap {position:relative;overflow:hidden;}
.wrap .main{height:100%;position:relative;}
.wrap .desktop-btns{width:34px;height:34px;opacity:.75;position:absolute;opacity:0;-webkit-transition:opacity .75s ease;}
.wrap .desktop-btn-left{background-image:url('i/left.png');;}
.wrap .desktop-btn-right{background-image:url('i/right.png');}
.wrap .desktop-btn-add{background-image:url('i/add.png');}
.wrap .desktop-btn-remove{background-image:url('i/remove.png');}


.wrap .desktop-spots{margin:0 auto;position: absolute;}
.wrap .desktop-spots .desktop-spot{width: 14px;height: 14px;background-color:#666;margin-right:8px;border-radius:8px;float:left;opacity:0.75;border: 1px solid #444;}
.wrap .desktop-spots .current{background-color:#fff;border: 1px solid #CCC;}


.wrap .desktop-list{position: absolute; height: 100%;-webkit-transition:all .75s ease;}
.wrap .desktop-list .desktop{height:100%;float:left;position:relative;overflow:hidden;}

.toolbox .toggle{width:34px;height:34px;background-image:url('i/add.png');position:absolute;left:10px;top:-44px;opacity:.75;-webkit-transform:rotate(0deg);-webkit-transition:-webkit-transform .75s ease;}
.toolbox{background-image:url('i/bg-bottom.png');position:absolute;height:118px;width:100%;bottom:-118px;-webkit-transition:all .75s ease;}
.toolbox .pannel{background-image:url('i/bg-bottom-spot.png');margin:9px 0 15px 0;height:96px;}
.toolbox .inner {margin:0 36px;position:relative;height:95px;overflow:hidden;}
.toolbox .inner .tools{padding-top:10px;position:absolute;left:-144px;-webkit-transition:all .75s ease;}
.toolbox .inner .item{float:left;margin-right:35px;border-radius:8px;padding:2px;}
.toolbox .inner .item img{width:70px;height:70px;}
.toolbox .inner .item .title{margin-top:10px;font-size: 12px;text-align: center;text-shadow: 0 1px 0 #eee;font-family: Arial;color: #444;font-weight: bold;}

.toolbox.active {bottom:0px;}
.toolbox.active .toggle{-webkit-transform:rotate(-135deg);}
.toolbox.active .inner .tools{left:0;}

.monitor{box-shadow:0 0 6px #333;position:absolute;-webkit-transition: opacity .65s ease;-webkit-perspective: 500;}
.monitor .card{-webkit-perspective: 500;-webkit-transition:all .5s;}
.monitor .fface{-webkit-transform:rotateY(0deg);background:#fff;border-radius:5px;overflow:hidden;-webkit-backface-visibility: hidden;-webkit-transition:all .5s;box-shadow: 3px 3px 6px rgba(0,0,0,0.6);}
.monitor .bface{-webkit-transform: rotateY(180deg);background: #fff url('i/cloth.png');border-radius: 5px;top:0;position:absolute;-webkit-backface-visibility: hidden;-webkit-transition:all .5s;box-shadow: 3px 3px 6px rgba(0,0,0,0.6);}
.monitor .fface .chart-inner{margin:15px 10px 15px 5px;}
.monitor .bface .binner{margin:15px 0 15px 15px;}

.monitor .bface .setting-row{
    margin-bottom: 10px;
}
.monitor .bface .setting-name{
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-shadow: 0 1px 0 black;
}
.monitor .bface .setting-field{
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

.monitor .bface .ok{
border-radius: 10px;
border: 0;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, 0)));
background-color: #444;
color: #EEE;
width: 40px;
padding: 3px 0;
text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.monitor .close{position:absolute;width:34px;height:34px;color:#eff;left:-17px;top:-17px;background-image:url('i/remove.png');display:none;z-index:5;}

.active .monitor .close{display:block;}

.monitor .set{}

.monitor .set .fface{-webkit-transform: rotateY(-180deg);visibility:hidden;}
.monitor .set .bface{-webkit-transform: rotateY(0deg);}

.monitor .set .fface .chart{visibility:hidden;}
.monitor .set .fface .setting{visibility:hidden;}

.monitor .setting{position:absolute;right:15px;bottom:0;width:16px;height:16px;background-image:url('i/setting.png');background-repeat: no-repeat;}
.monitor .yui3-resize-handle-tr,
.monitor .yui3-resize-handle-tl,
.monitor .yui3-resize-handle-bl,
.monitor .yui3-resize-handle-b,
.monitor .yui3-resize-handle-t,
.monitor .yui3-resize-handle-l,
.monitor .yui3-resize-handle-r{
	display:none;
}

.yui3-skin-sam{}
